@{
    ViewBag.Title = "Bienvenido a Steel-Studio";
}

    <div class="jumbotron">
        @*<img src="~/Content/img/Portada.jpg" width="800" height="600"/>*@
        <p>&nbsp;</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
    </div>
