
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDesktop.cshtml";
}

    <div class="alert alert-block alert-warning">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <i class="icon-ok red"></i>
        <strong class="red">
            Sorry, NDA agreement
        </strong>
    </div>
